In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/police-locals/police-locals.csv', sep=',')

In [9]:
df.head()

,city,police_force_size,all,white,non-white,black,hispanic,asian
0,New York,32300,0.617957,0.446387,0.764419,0.770891365,0.762860728,0.749235474
1,Chicago,12120,0.875000,0.871963,0.877400,0.89740566,0.83982684,0.966666667
2,Los Angeles,10100,0.228218,0.152778,0.263848,0.387387387,0.217679558,0.305263158
3,Washington,9340,0.115632,0.056774,0.157365,0.170189099,0.08988764,0.230769231
4,Houston,7700,0.292208,0.173735,0.399258,0.36637931,0.457142857,0.408163265

In [17]:
df['big_police_force'] = df['police_force_size'].apply(lambda x: x > 5000)

In [18]:
df.head()

,city,police_force_size,all,white,non-white,black,hispanic,asian,big_police_force
0,New York,32300,0.617957,0.446387,0.764419,0.770891365,0.762860728,0.749235474,True
1,Chicago,12120,0.875000,0.871963,0.877400,0.89740566,0.83982684,0.966666667,True
2,Los Angeles,10100,0.228218,0.152778,0.263848,0.387387387,0.217679558,0.305263158,True
3,Washington,9340,0.115632,0.056774,0.157365,0.170189099,0.08988764,0.230769231,True
4,Houston,7700,0.292208,0.173735,0.399258,0.36637931,0.457142857,0.408163265,True

In [20]:
for value, sub_df in df.groupby('big_police_force'):
    print(sub_df.head())

             city  police_force_size       all     white  non-white  \
6         Phoenix               4475  0.311732  0.270802   0.427350
7       San Diego               4460  0.362108  0.372984   0.348485
8          Dallas               3605  0.191401  0.171504   0.213450
9         Detroit               3265  0.370597  0.081967   0.542787
10  San Francisco               3020  0.316225  0.259494   0.378472

          black     hispanic        asian big_police_force
6    0.52173913  0.427710843           **            False
7   0.538461538  0.297794118     0.515625            False
8   0.214634146  0.256880734           **            False
9         0.568  0.333333333           **            False
10  0.186046512  0.253333333  0.486111111            False
          city  police_force_size       all     white  non-white        black  \
0     New York              32300  0.617957  0.446387   0.764419  0.770891365
1      Chicago              12120  0.875000  0.871963   0.877400   0.89740566
2  Los Angeles              10100  0.228218  0.152778   0.263848  0.387387387
3   Washington               9340  0.115632  0.056774   0.157365  0.170189099
4      Houston               7700  0.292208  0.173735   0.399258   0.36637931

      hispanic        asian big_police_force
0  0.762860728  0.749235474             True
1   0.83982684  0.966666667             True
2  0.217679558  0.305263158             True
3   0.08988764  0.230769231             True
4  0.457142857  0.408163265             True

In [21]:
df.to_csv('new_police_df.csv', sep=',')